apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-wordpress
  namespace: wordpress
  annotations:
    nginx.org/rewrites: "true"
    nginx.org/redirect-to-https: "true"
    cert-manager.io/issuer: "letsencrypt-prod"
spec:
  ingressClassName: nginx
  rules:
  - host: "montysplace.org"
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: wordpress-external
            port:
              number: 80
  - host: "www.montysplace.org"
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: wordpress-external
            port:
              number: 80
  tls:
    - hosts:
      - montysplace.org
      - www.montysplace.org
      secretName: wordpress-certificate
---
